{% extends 'base.html.twig' %}

{% block body %}
<section class="main_content">
    <h2>References &nbsp;{% if (is_granted('ROLE_USER')) %}&nbsp;<a href="{{ path('reference_new') }}">+ Create a new reference</a>{% endif %}</h2>
     <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name of Author</th>
                <th>Year Published</th>
                <th>Title of Reference</th>
                <th>City Published</th>
                <th>Publisher</th>
                <th>Pages Used</th>
                <th>Text Summary</th>
                <th>User</th>
                <th>Status</th>
                <th>View</th>
                {% if (is_granted('ROLE_USER')) %}
                <th>Update</th>
                {% endif %}
                <th>Add to Bib Basket</th>
            </tr>
        </thead>
        <tbody>
        {% for reference in references %}
            <tr>
                <td><a href="{{ path('reference_show', { 'id': reference.id }) }}">{{ reference.id }}</a></td>
                <td>{{ reference.nameOfAuthor }}</td>
                <td>{{ reference.yearPublished }}</td>
                <td>{{ reference.titleOfReference }}</td>
                <td>{{ reference.cityPublished }}</td>
                <td>{{ reference.publisher }}</td>
                <td>{{ reference.pagesUsed }}</td>
                <td>{{ reference.textSummary }}</td>
                <td> <a href="{{ path('admin_edit', {
                        'id': reference.user.id
                    }) }}">{{ reference.user.email }}</a></td>
                <td>{{ reference.status }}</td>

                {% if (is_granted('ROLE_USER')) %}&nbsp;
                    <td>
                        <a href="{{ path('reference_show', { 'id': reference.id }) }}">view</a>
                    </td>
                {% else %}
                    <td>
                        <a href="{{ path('reference_show2', { 'id': reference.id }) }}">view</a>
                    </td>
                {% endif %}

                {% if (is_granted('ROLE_USER')) %}
                <td>
                    <a href="{{ path('reference_edit', { 'id': reference.id }) }}">edit</a>
                </td>
                {% endif %}
                <td>
                    <a href="{{ path('reference_basket_add', { 'id': reference.id }) }}">add to bib basket</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
