{% extends 'base.html.twig' %}

{% block body %}
<section class="main_content">
    <h2>Tag edit</h2>

    <table>
        {{ form_start(form) }}
        <tr>
            <td> {{ form_row(form.tagName) }}</td>
        </tr>
        <tr>
            <td> {{ form_row(form.status) }}</td>
        </tr>
        <tr>
            <td> {{ form_row(form.noOfVotes) }}</td>
        </tr>
        <tr>
            <td>  <input type="submit" value="Update" /></td>
        </tr>
        {{ form_end(form) }}
    </table>
    <ul>
        <li>
            <a href="{{ path('tag_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</section>
{% endblock %}
