{% extends 'base.html.twig' %}

{% block body %}
<section class="main_content">
    <h2>Tag</h2>

    <table>
            <tr>
                <th>Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th>Tag Name</th>
                <td>{{ tag.tagName }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ tag.status }}</td>
            </tr>
            <tr>
                <th>No of Votes</th>
                <td>{{ tag.noOfVotes }}</td>
            </tr>
    </table>
    {% if (is_granted('ROLE_USER')) %}
    <h3>References with {{ tag.tagName }} tag</h3>
    <table>
        <tr>
           <td>{% for tagReference in tag.tagReferences %}
                           <li>
                               <a href="{{ path('reference_show', {
                                   'id': tagReference.id
                               }) }}">
                                   {{ tagReference.nameOfAuthor }}
                               </a>
                           </li>
             {% endfor %}</td>
        </tr>
    </table>
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('tag_index') }}">Back to the list</a>
        </li>
        {% if (is_granted('ROLE_USER')) %}
        <li>
            <a href="{{ path('tag_edit', { 'id': tag.id }) }}">Edit</a>
        </li>
        {% endif %}

    </ul>
</section>
{% endblock %}
